/******** about section ********/
.about__section {
    display: flex;
    flex-direction: column;
}

.about__section--darkmode{
    background-color: var(--dark);
}

.about__h2 {
    font-family: var(--Oswald);
    font-size: var(--title);
}

.about__section--darkmode>h2{
    color: var(--secund);
}

.about__section>p{
    font-size: var(--text);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-left: solid 2px var(--secund);
}

.about__section--darkmode>p{
    color: var(--alternate);
}

.about__p1 {
    width: 700px;
}

.about__p2 {
    width: 500px;
    text-align: start;
    align-self: center;
}

.about__p3 {
    width: 500px;
    align-self: end;
}

.about__p1:hover,
.about__p2:hover,
.about__p3:hover {
    border: var(--secund) solid 1px;
}

@media (max-width: 900px) {

    .about__p1,
    .about__p2,
    .about__p3 {
        width: 450px;
    }
}

@media (max-width: 720px) {

    .about__p1,
    .about__p2,
    .about__p3 {
        align-self: flex-start;
    }
}

@media (max-width: 580px) {

    .about__p1,
    .about__p2,
    .about__p3 {
        width: 70vw;
    }
}

@media (max-width:500px) {

    .about__p1,
    .about__p2,
    .about__p3 {
        width: auto;
    }
}