/******** proyects section ********/

.proyects__section {
    height: auto;
}

.proyects__section--darkmode {
    background-color: var(--dark);
}

.proyects__section--darkmode>h2 {
    color: var(--secund);
}

.proyects__section--darkmode>h3,
.proyects__section--darkmode>ul {
    color: var(--alternate);
}

.proyects__h2 {
    font-family: var(--Oswald);
    font-size: var(--title);
    font-weight: 600;
}

.proyects__h3 {
    font-size: var(--subtitle);
    margin: 20px 0;
}

.proyects__li1,
.proyects__li2 {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px var(--principal);
    gap: 4vw;
}

.proyects__li2 {
    flex-direction: row-reverse;
}

.proyects__h4 {
    margin-top: 2vw;
    font-size: var(--subtitle);
}

.proyects__icons>i {
    font-size: 1.5em;
    opacity: 1;
    color: var(--first);
}

.proyects__container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    width: 30vw;
}

.proyects__a {
    width: 35vw;
    height: 30vw;
    position: relative;
    background-color: var(--alternate);
    border-radius: 20px;
}

.proyects__mac {
    width: 30vw;
    height: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.proyects__page {
    width: 26.7vw;
    height: 15vw;
    position: absolute;
    bottom: 9.5vw;
    left: 1.7vw;
    z-index: 2;

}

.proyects__phone {
    width: 16vw;
    position: absolute;
    left: 20vw;
    bottom: 0;
    z-index: 3;
}

.proyects__page2 {
    width: 7.3vw;
    height: 13vw;
    position: absolute;
    left: 24.4vw;
    bottom: 2.95vw;
    z-index: 4;
}

.proyects__p{
    font-size: 18px;
}

@media (max-width:750px) {
    
    .proyects__p{
        font-size: initial;
    }
    
}

@media (max-width: 620px) {
    .proyects__li1,
    .proyects__li2 {
        gap: 3vw;
    }
    
    .proyects__container {
        width: 40vw;
    }
}

@media (max-width:500px) {

    .proyects__container {
        width: 50vw;
    }
}

@media (max-width: 430px) {
    .proyects__li1,
    .proyects__li2 {
    flex-direction: column-reverse;
    gap: 0;
    }

    .proyects__h4{
        text-align: center;
    }

    .proyects__a{
        align-self: center;
        width: 60vw;
        height: 60vw;
    }

    .proyects__mac {
        width: 60vw;
    }
    
    .proyects__page {
        width: 53.5vw;
        height: 30vw;
        bottom: 19vw;
        left: 3.2vw;
    }
    
    .proyects__phone {
        width: 32vw;
        left: 37vw;
    }
    
    .proyects__page2 {
        width: 14.6vw;
        height: 25.8vw;
        left: 45.8vw;
        bottom: 6vw;
    }

    .proyects__container {
        width: 90vw;
        row-gap: 15px;
        margin-bottom: 15px;
    }
}