.nav{
    position: fixed;
    top: 0;
    right: 0px;
    z-index: 50;
}

.nav__container{
    transition: 0.2s;
    width: 0;
}

.nav__div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    background-color: var(--alternate);
    height: 300px;
    padding-top: 60px;
    transition: 0.2s;
    width: 200px;
}

.nav__button{
    width: 50px;
    height: 55px;
    background-color: rgba(128, 128, 128, 0);
    position: fixed;
    right: 2vw;
    cursor: pointer;
    z-index: 50;
    overflow: hidden;
}

.nav__a{
    text-decoration: none;
}

.nav__a:hover{
    scale: 1.05;
}

.bx-minus{
    font-size: 60px;
    color: var(--principal);
}

.bx-1{
    position: absolute;
    left: 3px;
    top: 0;
    animation: bx-1 0.2s linear;
}

.bx-10{
    position: absolute;
    left: 0;
    top: 7px;
    rotate: 45deg;
    animation: bx-10 0.2s linear;
}

.bx-3{
    position: absolute;
    left: 10px;
    top: 13px;
    animation: bx-3 0.2s linear;
}

.bx-30{
    position: absolute;
    left: 0;
    top: 7px;
    rotate: 135deg;
    animation: bx-30 0.2s linear;
}



@keyframes bx-1 {
    from{
        rotate: 45deg;
        top: 7px;
        left: 0px;
    }
    to{
        rotate: 0deg;
        top: 0px;
        left: 3px;
    }
}

@keyframes bx-10 {
    from{
        rotate: 0deg;
        top: 0px;
        left: 3px;
    }
    to{
        rotate: 45deg;
        top: 7px;
        left: 0px;
    }
}

@keyframes bx-3 {
    from{
        rotate: -45deg;
        top: 7px;
        left: 0px;
    }
    to{
        rotate: 0deg;
        top: 13px;
        left: 10px;
    }
}

@keyframes bx-30{
    from{
        rotate: 0deg;
        top: 13px;
        left: 10px;
        
    }
    to{
        rotate: -45deg;
        top: 7px;
        left: 0px;
    }
}




@media (max-width:450px) {

    .bx-minus{
        color: var(--secund);
    }

    .nav__button{
        right: 5vw;
    }
    
}