.main {
    margin: 0;
    color: var(--letter);
}

.about__section,
.skill__section,
.proyects__section,
.contact__section {
    height: 100vh;
    padding: 5vw 19vw 5vw 10vw;
}

/******** about section ********/
.about__section {
    display: flex;
    flex-direction: column;
}

.about__h2 {
    font-family: var(--Oswald);
    font-size: var(--title);
}

.about__p1,
.about__p2,
.about__p3 {
    font-size: var(--text);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-left: solid 2px var(--secund);
}

.about__p1 {
    width: 700px;
}

.about__p2 {
    width: 500px;
    text-align: start;
    align-self: center;
}

.about__p3 {
    width: 500px;
    align-self: end;
}

.about__p1:hover,
.about__p2:hover,
.about__p3:hover {
    border: var(--secund) solid 1px;
    filter: drop-shadow(2px 2px 8px);
}


/******** skill section ********/

.skill__section {
    background-color: var(--third);
    color: var(--secund);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skill__h2 {
    font-family: var(--Oswald);
    font-size: var(--title);
}

.skill__h3 {
    font-size: var(--text);
    font-weight: 500;
    color: var(--alternate);
}

.skill__h3--span {
    animation: point 1.5s infinite alternate;
}

.skill__icons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 5vw;
    margin: 40px 0;
}

.div__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    text-align: center;
    padding: 10px 0;
}

.bx {
    font-size: 90px;
    color: var(--alternate);
    opacity: 0.5;
}

.span__icon {
    font-weight: 200;
    color: var(--alternate);
}

.skill__p {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.skill__p--span1 {
    font-size: var(--subtitle);
}

.skill__p--span2 {
    font-size: var(--text);
    color: var(--alternate);
    margin-bottom: 20px;
}

/******** proyects section ********/

.proyects__section {
    height: auto;
}

.proyects__h2 {
    font-family: var(--Oswald);
    font-size: var(--title);
    font-weight: 600;
}

.proyects__h3 {
    font-size: var(--subtitle);
    margin: 20px 0;
}

.proyects__li1,
.proyects__li2 {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px var(--principal);
    gap: 8vw;
}

.proyects__li2 {
    flex-direction: row-reverse;
}

.proyects__h4 {
    margin-top: 4vw;
    font-size: var(--subtitle);
}

.p-icon {
    font-size: 1.5em;
    opacity: 1;
    color: var(--first)
}

.proyects__container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    width: 38vw;
}

.proyects__a {
    width: 30vw;
    height: 30vw;
    position: relative;
    background-color: var(--alternate);
}

.proyects__mac {
    width: inherit;
    height: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.proyects__page {
    width: 26.6vw;
    height: 15vw;
    position: absolute;
    bottom: 9.5vw;
    left: 1.7vw;
    z-index: 2;

}

.proyects__phone {
    width: 16vw;
    position: absolute;
    left: 20vw;
    bottom: 0;
    z-index: 3;
}

.proyects__page2 {
    width: 7.3vw;
    height: 13vw;
    position: absolute;
    left: 24.4vw;
    bottom: 2.95vw;
    z-index: 4;
}

/******** contact section ********/


.contact__section {
    background: var(--fifth);
    color: var(--secund);
}




@keyframes point {
    from {
        color: var(--forth)
    }

    to {
        color: var(--third);
    }
}


@media (max-height:800px) {

    .about__section,
    .skill__section,
    .proyects__section {
        height: auto;
    }
}

@media (max-width: 900px) {

    .about__p1,
    .about__p2,
    .about__p3 {
        width: 450px;
    }
}

@media (max-width: 660px) {

    .about__p1,
    .about__p2,
    .about__p3 {
        align-self: flex-start;
    }

    .proyects__li1,
    .proyects__li2 {
        gap: 5vw;
    }
}

@media (max-width:500px) {

    .about__p1,
    .about__p2,
    .about__p3 {
        width: auto;
    }

    .about__section,
    .skill__section,
    .proyects__section,
    .contact__section {
        padding: 5vw;
    }

    .proyects__container {
        width: 52vw;
    }
}

@media (max-width: 380px) {

    .proyects__li1,
    .proyects__li2 {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .proyects__a{
        align-self: center;
        width: 60vw;
        height: 60vw;
    }
    
    .proyects__page {
        width: 53.5vw;
        height: 30vw;
        bottom: 19vw;
        left: 3.2vw;
    }
    
    .proyects__phone {
        width: 32vw;
        left: 37vw;
    }
    
    .proyects__page2 {
        width: 14.6vw;
        height: 25.8vw;
        left: 45.8vw;
        bottom: 6vw;
    }

    .proyects__container {
        width: 90vw;
        row-gap: 15px;
        margin-bottom: 15px;
    }
}