
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,700;0,900;1,200&family=Oswald:wght@600&family=Roboto+Mono:ital,wght@0,300;0,500;0,700;1,200&display=swap');


:root{

    --principal:#0f0a27;
    --secund:  rgb(171, 255, 46);
    --third: rgb(0, 221, 255);
    --forth: rgb(166, 35, 186);
    --contact: black;
    --alternate: white;
    --letter: rgb(15, 10, 39);
    --darkMode: rgb(68, 68, 68);
    --dark: rgb(19, 19, 19);




    /* font family */

    --Nunito: 'Nunito', sans-serif;
    --Reboto: 'Roboto Mono', monospace;
    --Oswald: 'Oswald', sans-serif;

    /* font size */
    --title: 3em;
    --subtitle: 1.8em;
    --text: 1.2em;
}

*,
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: inherit;
    border: none;
}   

html{
    font-family: var(--Nunito);
    box-sizing: border-box;
}

@media (max-width: 700px) {
    :root{
        --title: 2.8em;
        --subtitle: 1.5em;
        --text: 1em;
    }
}
