
  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,700;0,900;1,200&family=Oswald:wght@600&family=Roboto+Mono:ital,wght@0,300;0,500;0,700;1,200&display=swap');


:root{
    /* Color */
    --celeste: #58D8DC;
    --purple: #63339C;
    --red: #E02852;
    --orange: #F29C0C;
    --yellow: #ECDF05;

    /* font family */

    --Nunito: 'Nunito', sans-serif;
    --Reboto: 'Roboto Mono', monospace;
    --Oswald: 'Oswald', sans-serif;

}

*,
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: inherit;
}

html{
    font-family: var(--Nunito);
    overflow: hidden;
    overflow-y: scroll;
}
