
  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,700;0,900;1,200&family=Oswald:wght@600&family=Roboto+Mono:ital,wght@0,300;0,500;0,700;1,200&display=swap');


:root{
    /* Color */
    /*--principal: #63339C;
    --secund: #ECDF05;
    --third: #58D8DC;
    --forth: #E02852;
    --fifth: #F29C0C;
    --alternate: white;*/

    /*--principal: #151c36;
    --secund: #fbdcc4;
    --third: #abb1bc;
    --forth: #fff8e6;
    --fifth: #485778;
    --alternate: white;*/

    --principal:rgb(15, 10, 39);
    --secund:  greenyellow;
    --third: rgb(15, 10, 39);
    --forth: greenyellow;
    --fifth: black;
    --alternate: white;
    --letter: rgb(15, 10, 39);




    /* font family */

    --Nunito: 'Nunito', sans-serif;
    --Reboto: 'Roboto Mono', monospace;
    --Oswald: 'Oswald', sans-serif;

    /* font size */
    --title: 3em;
    --subtitle: 1.8em;
    --text: 1.2em;
}

*,
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: inherit;
}

html{
    font-family: var(--Nunito);
    overflow: hidden;
    overflow-y: scroll;
}
